.ReactModal__Content {
  opacity: 0;
  transform: translateY(-20px);
  transition: all .4s ease-in-out;
}
.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(120px);
}
.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateY(-20px);
}

.ReactModal__Content--after-open .modal__form_input {
  width: 100% !important;
}
.ReactModal__Content--before-close .modal__form_input {
  width: 1% !important;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0) !important;
  transition: background-color .4s ease-in-out;
}
.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.6) !important;
}
.ReactModal__Overlay--before-close {
  background-color: rgba(0, 0, 0, 0) !important;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px gray solid;
}
.modal__title {
  font-size: 24px;
  transition: font-size .4s ease-in-out;
}

.modal__body {
  padding: 15px 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.modal__form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal__form_input {
  width: 1% !important;
  transition: width .6s ease-in-out !important;
}
.modal__form_max {
  width: 100%;
  text-align: right;
  color: gray;
}

.modal__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  border-top: 1px gray solid;
  width: 100%;
}

@media only screen and (max-width: 550px) {
  .ReactModal__Content {
    width: 95% !important;
    inset: 0 !important;
  }
}

@media only screen and (max-height: 400px) {
  .ReactModal__Content {
    transform: translateY(-30px);
  }
  .ReactModal__Content--after-open {
    transform: translateY(60px);
  }
  .ReactModal__Content--before-close {
    opacity: 0;
    transform: translateY(-30px);
  }
}

@media only screen and (max-height: 289px) {
  .ReactModal__Content {
    transform: translateY(-40px);
  }
  .ReactModal__Content--after-open {
    transform: translateY(50px);
  }
  .ReactModal__Content--before-close {
    opacity: 0;
    transform: translateY(-40px);
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__form_input {
    padding: 0 5px 3px 5px !important;
    max-height: 30px;
  }
  .modal__body {
    padding: 10px;
  }
  .modal__header,
  .modal__footer {
    padding: 8px;
  }
}

@media only screen and (max-height: 250px) {
  .ReactModal__Content {
    transform: translateY(-60px);
  }
  .ReactModal__Content--after-open {
    transform: translateY(20px);
  }
  .ReactModal__Content--before-close {
    opacity: 0;
    transform: translateY(-60px);
  }
}
