html, body {
  font-size: 16px;
}
.App {
  min-height: 100vh;
  transition: all .3s ease-in-out;
}
.App.light {
  background-color: white;
  color: black;
}
.App.dark {
  background-color: #1E1E1E;
  color: white;
}
.themeChange {
  position: absolute;
  top: 0.5%;
  right: 0.5%;
  background-color: transparent;
  color: white;
  font-size: 20px;
  outline: none !important;
  border: none;
  transition: color .3s ease-in-out;
}
.App.light .themeChange {
  color: black;
}
.App.dark .themeChange {
  color: yellow;
}
.wrapper {
  width: 500px;
  margin: 0 auto;
  transition: width .4s ease-in-out;
}
*, *::after, *::before {
  box-sizing: border-box;
}
p, span, h1, h2, h3, h4, h5, h6, ul, ol, li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

/*
*** bootstrap style
*/

.form-control {
  transition: box-shadow .4s ease-in-out, background-color .4s ease-in-out;
}
.list-group-item {
  transition: opacity .5s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
}
.App.dark .form-control:invalid:focus {
  border-color:rgba(255, 28, 28, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(233, 28, 28, 0.5) !important;
}

.App.dark .form-control:focus {
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, 0.5);
}
.App.dark .list-group-item {
  border-color: rgba(255, 255, 255, .5) !important;
  background-color: transparent;
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 650px;
  }
}

@media only screen and (max-width: 515px) {
  .wrapper {
    width: 97%;
  }
}
