html, body {
  font-size: 16px;
}
.wrapper {
  width: 500px;
  margin: 0 auto;
  transition: width .4s ease-in-out;
}
*, *::after, *::before {
  box-sizing: border-box;
}
p, span, h1, h2, h3, h4, h5, h6, ul, ol, li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

/*
*** bootstrap style
*/

.form-control {
  transition: box-shadow .4s ease-in-out, background-color .4s ease-in-out;
}
.list-group-item {
  transition: opacity .5s ease-in-out, border-color .3s ease-in-out;
}

.App.dark .form-control:focus {
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, 0.514) !important;
}
.App.dark .list-group-item {
  border-color: rgba(255, 255, 255, .5);
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 650px;
  }
}

@media only screen and (max-width: 515px) {
  .wrapper {
    width: 97%;
  }
}
